* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-size: 16.5px;
    font-family: 'Source Sans Pro', sans-serif;
    }
body {

}
header {
    background-color: #fff;
    height: 90px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 1.4rem;
    font-weight: bolder;
}

.header-content {
display: flex;
justify-content: space-between;
align-items: center;
height: 100%;
padding: 0 50px 0 50px;
}

.header-logo-container {

display: flex;
justify-content: center;
align-items: center;
}

.header-logo-container .header-img{
    width: 47px;
    height: 47px;
}
.header-name {
    margin-left: 10px;
}
.header-main {
    display: flex;  
    justify-content: center;
    height: 70%;
    width: 25rem;

}

.header-main .nav-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #fff;
        font-weight: bold;

}



/* HERO SECTION */
.home-hero {
    height:800px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/114.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bolder;
}
.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:50%;
    left: 50%;
    width: 90%;
    max-width: 65rem;
}

.home-content .heading-primary{
    font-size: 3.65rem;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    color:#fff;
}

.home-content .home-hero-info{
    margin: 2rem 10rem 0;
    max-width: 80rem;
    font-weight: bold;
    line-height: 1.5;

    
}
.home-content .text-primary {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.6;
    width: 100%;
}

.home-content .home-hero-cta{
    margin: 3rem auto 0 auto;
}

.btn {
    width: 100%;
    background-color: #fff;;
}

.btn button {
    width: 15rem;
    height: 4rem;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
}

/* about section */
.projects{
    height:300px;
    background-color: grey;
}